{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
Novias
{% endblock titulo %}
{% block contenido %}
            <div class="row">
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgn1.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgn1.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgn3.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgn3.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgn2.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgn2.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'img4.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'img4.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'img5.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'img5.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'img6.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'img6.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
           </div>
{% endblock contenido %}
