{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
Pide tu cita
{% endblock %}
{%block menuPideTuCita%}
<li><a href="{% url 'Pide_Tu_Cita' %}">Pide tu cita</a></li>
{%endblock menuPideTuCita%}
{% block contenido %}
{% csrf_token %}
    <form class="form-horizontal" role="form"  method="POST" enctype="multipart/form-data">
          {% csrf_token %}
                <h1>Datos de Contacto</h1>
              {{formularioPideTuCita.as_p}}
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-default">Registrarse</button>
                </div>
              </div>
            </form>
{% endblock %}
