{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
Presentaciones
{% endblock titulo %}
{% block contenido %}
<div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps1.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps1.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps2.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps2.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps4.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps4.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
               <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps3.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps3.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                 <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps6.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps6.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imps5.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imps5.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
           </div>
{% endblock contenido %}
