{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
Primeras Comuniones
{% endblock titulo %}
{% block contenido %}
 <div class="row">
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp1.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp1.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp2.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp2.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp3.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp3.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
               <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp4.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp4.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                 <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp6.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp6.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                
                <div class="hidden-xs col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'impp5.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'impp5.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
           </div>
{% endblock contenido %}
