{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
Registrate
{% endblock %}
{% block contenido %}
{% csrf_token %}
    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Datos de Usuario</h1>
              {{formularioRegistroUsuario.as_p}}
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-default">Enviar</button>
                </div>
              </div>
            </form>
{% endblock %}
