{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
XV Años
{% endblock titulo %}
{% block contenido %}
<div class="row">
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv6.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv6.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv3.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv3.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv2.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv2.jpg' %}" class="img-thumbnail" alt="imagen1"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv5.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv5.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv1.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv1.jpg' %}" class="img-thumbnail" alt="imagen3"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-4 centrar">
                    <a href="{% static 'imgxv4.jpg' %}" data-lightbox="galeria" data-title="imagen 1"><img src="{% static 'imgxv4.jpg' %}" class="img-thumbnail" alt="imagen2"></a>
                    <div class="caption">
                        <h8>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam consequatur eos repudiandae consectetur omnis, asperiores, beatae nesciunt odio ut impedit explicabo, velit eius ullam odit at incidunt facere! Soluta, atque.</h8>
                    </div>
                </div>
           </div>
{% endblock contenido %}
